@model Todolist.Controllers.JsonResults
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>auto refresh candles</title>
</head>
<body>
    <div> 
        <h2>result : <b id="txtResult">@Model.Message</b></h2>
    </div>
</body>
</html>
