<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PublicKey" value="AQAB,vLI+bSlIK/wWtpfJWRdd0sj/ivqYvz3TcC+dO3NOUoM1maA2D9VAc3yXbATxjAl2NIHejPP5hk9/Q9lYG3OgM2efEeNZdVOl8a5uc52sZDjtDcKSvf4wz4QOXXlrpjOeuV62l7N19WzJWV5CBGzkTPkOHZEDWbZ2065jnbB3NowvHWU5cN1/VQc2ngcu2z3icX6B8bIoTVIf8rX2WZNT3DBHL3NtR8NBhujrmQEWQUKWCTCo9uHkBy2f7QfjArN2pVwjckOIk4QX8PFjnO8EXlwgoEUD4JhFSgA97B7/4iHyzlR4nWMv0jIL1dZyXv1aVNfTmM1/l/Co9cb7xDdQBQ==" />
    
    <!--trade settings-->
    <add key="Timeframes" value="5" />
    <add key="Symbol" value="1" />
    <add key="keepDataInterval" value="25" />

    <add key="minSlTpPercentage" value="0.5"/>
    <add key="maxSlTpPercentage" value="10"/>
    <add key="FixedSlPercentage" value="1"/>
    <add key="FixedTpPercentage" value="2.5"/>
    <add key="linesClosenessMargin" value="0.05"/>
    <add key="linesOnMacdClosenessMargin" value="0.2"/>
    <add key="smaClosenessMargin" value="3"/>
    <add key="smaAndCandleClosenessMargin" value="3"/>
    <add key="EvenSignalResultLimit" value="0.05"/>
    <add key="NotifyEmails" value="alb.rajabi@gmail.com"/>
    <add key="EnableNotify" value="False"/>
  </appSettings>
  <system.web>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms loginUrl="/Users/Login" protection="All" timeout="4800" slidingExpiration="true" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--<add name="ToDoListDbEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.22.122.14;initial catalog=ToDoListDb;user id=albertar;password=Alireza@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ToDoListDbEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ToDoListDb;user id=sa;password=safa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ToDoListDbEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2014;initial catalog=ToDoListDb;user id=sa;password=Dpk@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>